/* FEUILLE DE STYLES POUR TOUS LES STYLES DE L'APPLICATION 
(Remarque : à plusieurs reprises, l'attribut color:blue est précisé bien qu'il 
ne soit pas utile ; ceci permet une validation du W3C sans avertissement. 
Idem pour background-color) */

/* Style de base pour la page (couleur fond : ocre, couleur texte : noir) */
html{
  font:11px Arial, Helvetica, sans-serif;
  color:blue;
}

.body 
{
  background-color:#FFF;
  color:blue;
  font:11px Arial, Helvetica, sans-serif;
}
.basePage 
{
   font:11px Arial, Helvetica, sans-serif;
}
/* Style pour le titre (couleur du texte : rouge) */
h1, h2
{
  background-color:orange;
  font:30px Arial, Helvetica, sans-serif;
  text-align:center;
} 
h2
{
  font:20px Arial, Helvetica, sans-serif;
}
h5
{
  font:14px Arial, Helvetica, sans-serif;
}
a {
font-family:Arial, Helvetica, sans-serif
}

/* Style pour le texte de la page d'accueil (couleur : bleu foncé avec mise en
gras et en italique) */
.texteAccueil
{
   font:14px Arial, Helvetica, sans-serif;
}

/* STYLES POUR LE MENU ET LE CENTRE */
/* Style des blocs contenant les éléments de menu : fond bleu ciel, épaisseur 
1px, espacement de 3x entre la bordure gauche  et texte gauche */

.gauche {
float: left; 
top:expression(documentElement.scrollTop+body.scrollTop);
width: 160px;
margin-top:10px;
border-color:blue;
border-bottom:1px solid #777777;
border-right:1px solid #777777;
border-left:10px solid #777777;
border-top:1px solid #777777;
text-align:left;
}
.centre {
	position: absolute;
	Margin-left: 180px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
  	color:blue;
}
.menugauche {
list-style-type: none;
margin: 1px 1px 0px 1px;
padding:1px 10px 10px 5px ;
font:12px Arial, Helvetica, sans-serif;
color:blue;
}
.menugauche li {
color:blue;
}
.menugauche a {
margin: 2px ;
color:blue;
text-decoration: underline;
}
.menugauche a:hover {
text-decoration: none;
}
/* STYLES POUR LES TABLEAUX QUADRILLÉS */

/* Style des tableaux avec quadrillage : épaisseur du quadrillage 1px, 
espacement de 3x entre la bordure gauche de chaque cellule et le texte */
table.tabQuadrille td
{
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
   padding-left:3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} 

/* Style pour la 1ère ligne d'en-tête des tableaux quadrillés : fond avec 
nuances de jaune et texte centré */
tr.enTeteTabQuad
{
   background-image:url('../images/xpBarre.jpg');
   height:21px;
   text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} 

/* Style pour les lignes (autres que la 1ère ligne d'en-tête) des tableaux 
quadrillés : fond écru et texte centré */
tr.ligneTabQuad 
{
   background-color:#FFFFE0;
   text-align:center;
   color:blue;
}

/* STYLES POUR LES TABLEAUX NON QUADRILLÉS */

/* Style des tableaux sans quadrillage : fond écru, épaisseur de la bordure 
1px */
table.tabNonQuadrille 
{
   background-color:#FFFFE0;
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
   color:blue;
}
 
/* Style pour la ligne d'en-tête des tableaux non quadrillés : fond avec 
nuances de jaune, texte centré et en gras et trait bas pour séparer l'en-tête du 
corps du tableau */
tr.enTeteTabNonQuad td
{
   background-image:url('../images/xpBarre.jpg');
   height:21px;
   text-align:center;
   font-weight:bold;
   border-bottom:1px solid #777777;
   	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

} 

/* Style pour les lignes (autres que la 1ère ligne d'en-tête) des tableaux non 
quadrillés : fond écru, hauteur plus importante, texte aligné à gauche et 
espacement de 3px entre la bordure gauche de chaque cellule et le texte */
tr.ligneTabNonQuad td
{
   background-color:#FFFFE0;
   height:28px;
   text-align:left;
   padding-left:3px;
   color:blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} 
