

/* Style de base pour la page*/
html{
  font:11px Arial, Helvetica, sans-serif;
  color: #555;
}

.body 
{
  background-color:#FFF;
}

/* Style pour les titre */
h1, h2
{
  background-color:orange;
  font-size:30px ;
  text-align:center;
} 
h2
{
  font-size:20px ;
}
h5
{
  font-size:14px ;
}
p a {
	text-decoration: none;
	border-bottom: 1px dashed #000;
}
p a:hover {
	border-bottom: none;
}

/* Style pour le texte de la page d'accueil (couleur : bleu foncé avec mise en
gras et en italique) */
#corps
{
   font-size:14px;
   margin-left: 180px;
   padding: 10px;
   border: 1px solid #777;
}

/* STYLES POUR LE MENU ET LE CENTRE */
/* Style des blocs contenant les éléments de menu : fond bleu ciel, épaisseur 
1px, espacement de 3x entre la bordure gauche  et texte gauche */

.gauche {
float: left; 
top:expression(documentElement.scrollTop+body.scrollTop);
width: 160px;
border-bottom:1px solid #777777;
border-right:1px solid #777777;
border-left:10px solid #777777;
border-top:1px solid #777777;
text-align:left;
}

.menugauche {
list-style-type: none;
margin: 1px 1px 0px 1px;
padding:1px 10px 1px 5px ;
font-size:12px ;
}

.menugauche li a{
	display: block;
	background-color : #ccc;
	margin-bottom: 3px;
	color: #000;
	text-decoration: none;
}
.menugauche li a:hover{
	background-color: #555;
}

/* STYLES POUR LES TABLEAUX QUADRILLÉS */

/* Style des tableaux avec quadrillage : épaisseur du quadrillage 1px, 
espacement de 3x entre la bordure gauche de chaque cellule et le texte */
table.tabQuadrille td
{
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
   padding-left:3px;
	font-size: 10px;
} 

/* Style pour la 1ère ligne d'en-tête des tableaux quadrillés : fond avec 
nuances de jaune et texte centré */
table.tabQuadrille tr th
{
   background-image:url('../images/xpBarre.jpg');
   height:21px;
   text-align:center;
	font-size: 10px;
} 

/* Style pour les lignes (autres que la 1ère ligne d'en-tête) des tableaux 
quadrillés : fond écru et texte centré */
table.tabQuadrille tr
{
   background-color:#FFFFE0;
   text-align:center;
   color:blue;
}

/* STYLES POUR LES TABLEAUX NON QUADRILLÉS */

table.tabNonQuadrille 
{
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px solid #777777;
   position: center;
}
 
table.tabNonQuadrille tr th
{
	height:21px;
	text-align:left;
	font-weight:bold;
	font-size: 14px;
	border-bottom: 2px solid #777;
} 

table.tabNonQuadrille tr td
{
	height:28px;
	text-align:left;
	padding-left:3px;
	font-size: 10px;
} 

/* Styles persos */
.hide {
	display: none;
}